body {
    background-color: #101010;
}

.box {
  position: relative;
  background-color: #222;
  border-radius: 12px;
  padding: 20px;
  margin: 40px auto;
  width: 90%;
  max-width: 500px;
  color: #fff;
  text-align: center;

  /* 光の漏れを表現 */
  box-shadow:
    0 0 20px rgba(0, 255, 255, 0.5),
    0 0 40px rgba(0, 255, 255, 0.3),
    0 0 80px rgba(0, 255, 255, 0.1);
}



.name h1 {
    margin-bottom: 0.2em;
}

.about-me h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.3em;
}

.skill {
    text-align: center; /* 全体を中央寄せに */
}

.skill img {
    display: inline-block; /* 横並びにする */
    width: 45%; /* 横幅を少し小さく調整 */
    margin: 10px; /* 画像の間に余白を追加 */
}

.btn {
  border-radius: 5px;
  background-color: rgb(60, 60, 60);
  padding: 10px;
  text-decoration: none;
  color: white;
}
